<h2> Agrega tu Restaurante </h2>
<form action="/restaurants" method = "post">
  <label for="name">Nombre</label>
  <input type="text" id="name" name ="name">

  <label for="city">Ciudad</label>
  <input type="text" id="city" name ="city">

  <label for="address">Dirección</label>
  <input type="text" id="address" name ="address">

  <label for="image_url">Url</label>
  <input type="text" id="image_url" name ="image_url">

  <button type="submit">Agregar</button>
</form>
